*.zip
node_modules/
.env
*.local
*.env
firebase_key.json
serviceAccount*.json
*-service-account.json

# Social Agent
social_agent/temp_assets/
social_agent/output_videos/
social_agent/*.exe
social_agent/ig_session.json
social_agent/.env

# Crawler & Data
KAPAD_CRAWLER/
scratch/
